/*jquery mobile fixes*/
/*
body {
    background: none repeat scroll 0 0 #DDDDDD;
}

.alpaca-fieldset-array-item-toolbar.ui-controlgroup-horizontal .ui-btn {
    border-bottom-width: 1px;
}

.alpaca-field {
    display: block;
}

.alpaca-controlfield {
    margin: 1em 0 !important;;
    padding: 0 !important;
}
*/

.alpaca-controlfield-label
{
    display: inline-block !important;
    margin: 0 2% 0 0 !important;
    width: 20% !important;
    vertical-align: top !important;
}

.alpaca-controlfield-label.ui-select
{
    /** fix bug with jQuery Mobile positioning of ui-select **/
    left: 0px !important;
    position: relative !important;
}

.alpaca-radio-fieldset
{
    display: inline-block !important;
    width: 78% !important;
}