<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Alpaca > Component Gallery > View</title>
        <meta name="keywords" content="alpaca,forms,view,gitana" />
        <meta name="description" content="View Examples for Alpaca Forms." />
        <meta name="author" content="Gitana Software Inc." />
        <link rel="icon" type="image/x-icon" href="../../../favicon.ico" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/${jquery.version}/jquery.min.js">
        </script>
        <script type="text/javascript" src="../../js/themeswitchertool.js">
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/${jquery.ui.version}/jquery-ui.min.js">
        </script>
        <script type="text/javascript" src="../../../js/alpaca-${project.version}.js">
        </script>
        <script type="text/javascript" src="../../js/example.js">
        </script>
        <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/${jquery.ui.version}/themes/base/jquery.ui.all.css" rel="stylesheet">
        <link type="text/css" href="../../../css/alpaca-${project.version}.css" rel="stylesheet" />
        <link type="text/css" href="../../../css/example.css" rel="stylesheet" />	
    </head>
    <body>
        <div class='alpaca-example-container'>
            <div class='alpaca-example-header' id='view' alpaca-types=''>
                <h2>View Examples</h2>
            </div>
            <div class='alpaca-example-body'>
                <div class='alpaca-example-case'>
                    <h3>Example 1: </h3>
					<h4>Example for custom field-level templates and messages.</h4>
                    <div id="field1">
                    </div>
                    <script type="text/javascript" id="field1-script">
                        $(function() {
                            $("#field1").alpaca({
                                "data": "Vanilla",
                                "options": {
                                    "label": "Ice Cream",
                                    "helper": "Your favorite ice cream?",
                                    "size": 10
                                },
                                "schema": {
                                    "maxLength": 5
                                },
                                "view": {
                                    "type": "edit",
                                    "templates": {
                                        "controlFieldOuterEl": '<span class="alpaca-field" id="${outerElId}"><div>Alpaca Farm Survey</div>{{html this.html}}</span>',
                                        "controlFieldHelper": '{{if options.helper}}<span class="{{if options.helperClass}}${options.helperClass}{{/if}}" id="${helperId}">${options.helper}</span>{{/if}}'
                                    },
                                    "messages": {
                                        "stringTooLong": "Input Maximum length {0}"
                                    }
                                }
                            });
                        });
                    </script>
                    <h3>Example 2: </h3>
					<h4>Example for pre-registered web display view.</h4>
                    <div id="field2">
                    </div>
                    <script type="text/javascript" id="field2-script">
                        $(function() {
							$("#field2").alpaca({
								"data": "Alpaca Farm Offers Best Home Made Ice Cream!",
								"render": function(field) {
									field.render('VIEW::WEB_DISPLAY');
								}
							});
						});
                    </script>
                    <h3>Example 3: </h3>
					<h4>Example for full template.</h4>
                    <div id="field3">
                    </div>
                    <script type="text/javascript" id="field3-script">
                        $(function() {
                            $("#field3").alpaca({
                                "data": "Alpaca Farm Offers Best Home Made Ice Cream!",
                                "view": {
                                    "globalTemplate": '<div>Our Tagline: ${data}</div>'
                                }
                            });
                        });
                    </script>
                    <h3>Example 4: </h3>
					<h4>Example with <a href="./view-data.json" target="_source">data</a> and  global <a href="./view-template.html" target="_source">template</a> loaded through ajax call.</h4>
                    <div id="field4">
                    </div>
                    <script type="text/javascript"id="field4-script">
                        $(function() {
                            $("#field4").alpaca({
                                "data": './view-data.json',
                                "options": {
                                    "label": "History Of Alpaca Farm",
                                    "helper": "Family Owned Business Since 1996!"
                                },
                                "view": {
                                    "globalTemplate": './view-template.html'
                                }
                            });
                        });
                    </script>
                </div>
            </div>
			<div class="alpaca-clear"></div>
            <div class="alpaca-example-footer">
                <center class="copyright">
                    Copyright &copy; 2011 Gitana Software | All Rights Reserved
                </center>
            </div>
        </div>
    </body>
</html>
