html, body {
    height: 100%;
}
body > footer {
    bottom: 0;
    position: fixed;
}
body {
    background: #999;
}
#fixture-container {
    margin-top: 100px;
    padding-top: 10px;
    background: white;
}
footer h1 {
    margin-top: 0;
}
