/**
 *  Abstract Field
 */
.alpaca-field {
    display: inline-block;
}

.alpaca-field-required {
}

.alpaca-field-optional {
}

/**
 *  Control Field
 */
.alpaca-field-container {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
}

.alpaca-field-label {
    color: #505050;
    text-align: left;
    margin: 4px 0px 2px 0px;
    min-width: 75px;
    font-size: 100%;
    font-weight: bold;
}

.alpaca-field-helper {
    clear: both;
    color: #505050;
    font-size: 75%;
    margin-top: 2px;
}

.alpaca-field-message {
    clear: both;
    float: none;
    margin: 4px;
    font-size: 85%;
}

/**
 * Invalid Field
 */
.alpaca-field-invalid > div.alpaca-field-message, .alpaca-field-invalid > div.alpaca-field-label, .alpaca-field-invalid > label {
    color: #C00E0C;
    font-weight: bold;
}

.alpaca-field-invalid > div.alpaca-field-label, .alpaca-field-invalid > label {
    background: transparent url(../images/error.png) no-repeat scroll left center;
    padding-left: 20px;
}

/**
 * Valid Field
 */
.alpaca-field-valid > div.alpaca-field-message {
    color: #505050;
    font-weight: normal;
}

.alpaca-field-valid > div.alpaca-field-label, .alpaca-field-valid > label {
    color: #505050;
    font-weight: bold;
}

/* Properties set by an invalid higher hierarchy field are disabled for valid or empty subfields */
.alpaca-field-valid > div.alpaca-field-label label, .alpaca-field-empty > div.alpaca-field-label label {
    background: none;
    padding-left: inherit;
}

/**
 * Input field
 */
input, textarea, select {
    border: 1px solid #555;
    padding: 2px;
    font-size: 100%;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #058cf5;
}

/**
 * Text Field
 */
.alpaca-textfield {
}

/**
 * Date Field
 */
.alpaca-datefield {
    background: transparent url(../images/calendar.png) no-repeat scroll left center;
    padding-left: 30px;
}

.alpaca-datefield input {
    width: 100px;
}

/**
 * Phone Field
 */
.alpaca-phonefield {
    background: transparent url(../images/phone.png) no-repeat scroll left center;
    padding-left: 30px;
}

.alpaca-phonefield input {
    width: 200px;
}

/**
 * Email Field
 */
.alpaca-emailfield {
    background: transparent url(../images/email.png) no-repeat scroll left center;
    padding-left: 30px;
}

.alpaca-emailfield input {
    width: 200px;
}

/**
 * Address Map Field
 */
.alpaca-map-canvas {
    height: 300px;
    width: 300px;
    margin: 10px;
}

/**
 * Checkbox Field
 */
.alpaca-checkboxfield {
    padding-top: 0.2em;
}

.alpaca-checkboxfield input {
    margin-right: 0.2em;
}

label.alpacaForm-checkboxfield-rightLabel {
    cursor: pointer;
}

/* IE < 8 */
.alpaca-checkboxfield { *padding-top:
    0;
}

.alpaca-hover {
    background-color: #FFFFCC;
}

div.alpaca-clear-div {
    clear: both;
}

/**
 * Url Field
 */
div.alpaca-urlfield {
    position: relative;
}

div.alpaca-urlfield input {
    padding-left: 20px;
}

div.alpaca-urlfield input.nofavicon {
    padding-left: 0px;
}

div.alpaca-urlfield img {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 16px;
    height: 16px;
}

/**
 * Fieldset
 */
.alpaca-form {
    margin-top: 15px;
    margin-left: 15px;
}

fieldset.alpaca-fieldset {
    display: inline-block;
    margin: 15px 10px 10px 0px;
    border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background:-moz-linear-gradient(top, #fff, #ededed);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	text-shadow:0 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.4);
	box-shadow:0 1px 2px rgba(0,0,0,.4);
}

legend.alpaca-fieldset-legend {
	margin: -15px 0px 0px -10px;
	float:left;
	font-size:110%;
	padding:2px 8px 2px 3px;
	cursor:pointer;
	color:#e8f0de;
	border:solid 1px #538312;
	background:#64991e;
	background:-webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background:-moz-linear-gradient(top, #7db72f, #4e7d0e);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	border-bottom-right-radius:10px;
	-khtml-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
}


legend.legend-expanded:before {
	content:"\25BC";	
}

legend.legend-collapsed:before {
	content:"\25B6";	
}

.alpaca-fieldset-helper {
	padding-top: 10px;
	padding-bottom:5px;
	clear:both;
}

.alpaca-items-container {
	padding-top: 5px;
	padding-bottom:5px;
	clear:both;
}

/**
 * Item Toolbar 
 */
.alpaca-item-toolbar {
	background-color: #DAE8EC;
	border-bottom-right-radius:10px;
	-khtml-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border: 1px solid #B8CB99;
	padding: 1px;
}

.alpaca-array-toolbar {
	background-color: #DAE8EC;
	border-bottom-right-radius:10px;
	-khtml-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border: 1px solid #B8CB99;
	padding: 1px;
}

.alpaca-item-toolbar-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
	padding-left:20px;
}

.alpaca-array-toolbar-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
	padding-left:20px;
}

.alpaca-item-toolbar-disabled {
	opacity: .5;
}

.alpaca-item-toolbar-add {
    background: transparent url(../images/add.png) no-repeat scroll 0%;
 }
 
.alpaca-item-toolbar-remove {
    background: transparent url(../images/remove.png) no-repeat scroll 0%;
 }
 
.alpaca-item-toolbar-up {
    background: transparent url(../images/up.png) no-repeat scroll 0%;
 }
 
.alpaca-item-toolbar-down {
    background: transparent url(../images/down.png) no-repeat scroll 0%;
 }
 
.alpaca-array-toolbar-add {
    background: transparent url(../images/add.png) no-repeat scroll 0%;
 } 
 
/**
 * Butons
 */
.alpaca-form-buttons-container {
	clear:both;
}

.alpaca-form-button {
	display: inline-block;
	margin: 4px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.alpaca-form-button:hover {
	text-decoration: none;	
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');	
	-webkit-transform:  scale(1.3);
	-moz-transform: scale(1.3);
	text-shadow: 0px 0px 4px rgba(0,0,0,.5);
	color:#fff !important;
}

.alpaca-form-button:active {
	position: relative;
	top: 1px;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');	
}

.alpaca-form-button-gitana:before {
	content: attr(data-icon);
	font-style:italic;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background:#ff295b;
	padding: 2px 5px 2px 5px;
	margin-right:5px;
}

.alpaca-form-button-alpaca:before {
	content: attr(data-icon);
	font-style:italic;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background:#13c9ff;
	padding: 2px 5px 2px 5px;
	margin-right:5px;
}	

/**
 * Data
 */
div.alpaca-fieldset {
	display: inline-block;   
	margin:5px 5px 5px 10px;
	padding-left:20px;
	padding-right:5px;
	background:#fff;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background:-moz-linear-gradient(top, #fff, #ededed);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	text-shadow:0 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.4);
	box-shadow:0 1px 2px rgba(0,0,0,.4);
	float:left;
	clear:both;	
}

div.alpaca-fieldset-legend {
	margin-left:-10px;
	margin-top:10px;
	font-size:110%;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	text-decoration: underline;
}

.alpaca-data-container {
    min-width: 200px;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.4);
	box-shadow:0 1px 2px rgba(0,0,0,.4);	
}
   
.alpaca-data {
    color: #505050;
    text-align: left;
	font-size: 100%;
	padding-left:10px;
}

.alpaca-data-label {
    float: left;
	color: #505050;
    text-align: left;
    min-width: 75px;
	font-size: 100%;
	font-weight: bold;
	clear: both;
}

/**
 * Wizard
 */
.alpaca-wizard-status-bar { 
	list-style:none; 
	width:100%; 
	overflow:hidden; 
	margin:10px 0 10px 0; 
	padding:0px;
	background:#7b8d77;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-shadow:none;
	-webkit-box-shadow:0;
	-moz-box-shadow:0;
	box-shadow:none;	
	color:#ffffff;
	counter-reset:step;
	float:left;
}

.alpaca-wizard-status-bar li {
	font-size:11px; 
	float:left; 
	padding:5px; 
	color:#ffffff;
	min-width:120px;
	text-shadow:none;
	font-style:italic;
}

.alpaca-wizard-status-bar li span {
	font-size:18px; 
	display:block;
	text-shadow:none;
	font-style:normal;	
}

.alpaca-wizard-status-bar li div {
	display:block;
	text-decoration:none;
	position:relative;
	padding:2px 25px 2px 30px;
}	

.alpaca-wizard-status-bar li div:before {
	font-size:11px;

	position:absolute;
	top:50%;
	left:5px;
	margin-top:-8px;
	
	counter-increment:step;
	content:counter(step);
	text-align:center;
	font-weight:bold;
	padding:2px 6px;
	background:rgba(0,0,0,0.25);
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}


.alpaca-wizard-status-bar li div strong {
	font-weight:normal
}

.alpaca-wizard-status-bar li.current { 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-shadow:none;
	color:#ffffff;
	background:#a49d4d;	
}

.alpaca-wizard-status-bar li.current-has-next { 
	background:url(../images/splitter.gif) right center no-repeat #a49d4d;
}

.alpaca-wizard-title {
	font-size:120%; 
	margin:0px; 
	padding:10px 0px; 
	font-weight:bold;
}

.alpaca-wizard-desc {
	font-size:90%; 
	margin:0px; 
	padding:5px 0px; 
}

.alpaca-wizard-step-title {
	font-size:100%; 
	margin:0px; 
	padding:10px 0px; 
	text-decoration:underline; 
	font-weight:bold;
}

.alpaca-wizard-nav-bar {
	clear:both;
}

.alpaca-wizard-button {
	display: inline-block;
	margin: 4px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #fef4e9;
	border: solid 1px #000;
	background: #7b8d77;
}

.alpaca-wizard-button:hover {
	background: #a49d4d;
}

.alpaca-wizard-button-back {
	float:left;
}

.alpaca-wizard-button-next {
	float:right;
}
