body {
    margin: 20px;
    padding: 0;
    font: 14px normal Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font: 5em normal Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 span {
    color: #8fc1c7;
}

h1 small {
    font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    display: block;
    color: #ccc;
}

.container {
    margin: 0 auto;
    width: 600px;
}

pre {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    border: 1px solid #ccc;
    line-height: 20px;
    width: 1200px;
    overflow: auto;
    overflow-Y: hidden;
}

pre code {
    margin: 0 0 0 40px;
    padding: 5px 0;
    display: block;
}

.code-button {
	display: inline-block;
	margin: 2px;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.code-button-collapsed {
	display:inline-block;
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /*1, 2, or 3 which will rotate the element 0, 90, 180 or 270 degress respectively.*/
}
