html,body {
    margin: 0px;
    padding: 0;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height:100%;
	min-width:1000px;
}

h3 {
	margin-top:10px;
	text-decoration: underline;	
}

h4 {
	width:500px;
	font-weight:normal;	
}

.clear {
	clear:both;	
}

.alpaca-example-container {
	min-height:100%;
	position:relative;
}

.alpaca-example-body {
	padding-bottom:20px;
	display:inline-block;
	width:1400px;
}

.alpaca-example-header {
    border-bottom: 1px solid #EEEEEE;
    float: left;
    width: 100%;
	margin-bottom:10px;
	background: transparent url(../css/images/Alpaca-icon.png) no-repeat scroll left center;
}

.alpaca-example-header h2 {
	padding:10px 0 0 60px;
}

.alpaca-example-header h2 A:link {
    text-decoration: none;
}

.alpaca-example-header h2 A:visited {
    text-decoration: none;
    color: #000000;
}
.alpaca-example-header h2 A:active {
    text-decoration: none;
}
.alpaca-example-header h2 A:hover {
    text-decoration: underline;
}

.alpaca-example-sidebar-header {
	padding:4px;
}
.alpaca-example-sidebar {
	display:inline-block;
/*
	float:left;
*/
	width:250px;
	margin: 0px 20px 10px 10px;
	padding:4px;
}

.alpaca-example-sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight:bold;
}		

.alpaca-example-sidebar ul li{
	padding: 2px 2px 2px 4px;
	margin: 1px;
	font-weight:normal;
}		

.alpaca-example-sidebar ul li a{
	text-decoration : none;
}

.alpaca-example-case {
	display:inline-block;
	vertical-align:top;
}

.alpaca-example-footer {
	clear:both;
   	display:inline-block;		
   	/* position:absolute; */
  	bottom:0;
  	width:100%;
   	height:20px;
}

pre {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    border: 1px solid #ccc;
    line-height: 20px;
    width: 600px;
    overflow: auto;
    overflow-Y: hidden;
}

pre code {
    margin: 0 0 0 40px;
    padding: 5px 0;
    display: block;
}

.code-block {
    font-size: 12px;
    padding: 0;
    border: 1px solid #ccc;
    line-height: 20px;
    overflow: auto;
    overflow-Y: hidden;
    width: 800px;
    margin: -10px 0px 0px 5px;
}

.front-page-item-title {
    padding: 4px;
    font-size: 1.2em;
    padding-left: 10px;
}

.front-page-item-image {
    display: inline-block;
    width: 50px;
    margin: 20px 10px;
    vertical-align: top;
}

.front-page-item-description {
    display: inline-block;
    width: 450px;
    margin: 10px;
}

a.get-started:before {
    content: "\00bb  ";
}

a.get-started:link {
    text-decoration: none;
}

a.get-started:visited {
    text-decoration: none;
    color: #000000;
}

a.get-started:active {
    text-decoration: none;
}

a.get-started:hover {
    text-decoration: underline;
}

/* Table */

table { border-collapse: collapse; border-spacing: 0; }

.table {
	clear: both;
	width: 100%;
	margin: 0 auto;
    max-width: 800px;
}

.table thead {
	background: url("../css/images/table-head-bg.png") repeat-x scroll top left #dddddd;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
	border-left: none;
}

.table thead th:last-child {
	border-right: none;
}

.table thead th {
	vertical-align: middle;
	text-align: left;
	padding: 8px 13px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
	vertical-align: top;
	text-align: left;
	padding: 7px;
	border-left: 1px dotted #bebebe;
}

.table tbody td {
	background: #f2f2f2;
}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
	border-left: none;
}

.table tbody tr.even td {
	background: #e6e6e6;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
	background: #d8dce6;
}
