html,body {
    margin: 0px;
    padding: 0;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height:100%;
	min-width:1000px;
}

h3 {
	margin-top:10px;
	text-decoration: underline;	
}

h4 {
	width:500px;
	font-weight:normal;	
}

.clear {
	clear:both;	
}

.alpaca-example-container {
	min-height:100%;
	position:relative;
}

.alpaca-example-body {
	padding-bottom:20px;
	display:inline-block;
	width:100%;
}

.alpaca-example-header {
    border-bottom: 1px solid #EEEEEE;
    float: left;
    width: 100%;
	margin-bottom:10px;
	background: transparent url(../examples/images/Alpaca-icon.png) no-repeat scroll left center;
}

.alpaca-example-header h2 {
	padding:10px 0 0 60px;
}

.alpaca-example-header h2 A:link {
    text-decoration: none;
}

.alpaca-example-header h2 A:visited {
    text-decoration: none;
    color: #000000;
}
.alpaca-example-header h2 A:active {
    text-decoration: none;
}
.alpaca-example-header h2 A:hover {
    text-decoration: underline;
}

.alpaca-example-sidebar-header {
	padding:4px;
}
.alpaca-example-sidebar {
	display:inline-block;
/*
	float:left;
*/
	width:250px;
	margin: 0px 20px 10px 10px;
	padding:4px;
}

.alpaca-example-sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight:bold;
}		

.alpaca-example-sidebar ul li{
	padding: 2px 2px 2px 4px;
	margin: 1px;
	font-weight:normal;
}		

.alpaca-example-sidebar ul li a{
	text-decoration : none;
}

.alpaca-example-case {
	display:inline-block;
	vertical-align:top;
}

.alpaca-example-footer {
	clear:both;
   	display:inline-block;		
   	position:absolute;
  	bottom:0;
  	width:100%;
   	height:20px;
}

pre {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background: #f0f0f0;
    border: 1px solid #ccc;
    line-height: 20px;
    width: 600px;
    overflow: auto;
    overflow-Y: hidden;
}

pre code {
    margin: 0 0 0 40px;
    padding: 5px 0;
    display: block;
}