<div class="alpaca-wizard">
	<div class="alpaca-wizard-title">${options.label}</div>
	<div class="alpaca-wizard-desc">${options.helper}</div>
	<div class="alpaca-wizard-step" id="alpaca-wizard-step-1">
		<div class="alpaca-wizard-step-title">Basic</div>
		<div class="alpaca-wizard-step-description">Name, Age etc.</div>		
	</div>
	<div class="alpaca-wizard-step" id="alpaca-wizard-step-2">
		<div class="alpaca-wizard-step-title">Membership</div>		
		<div class="alpaca-wizard-step-description">Favorite, Member etc.</div>		
	</div>
	<div class="alpaca-wizard-step" id="alpaca-wizard-step-3">
		<div class="alpaca-wizard-step-title">Contact</div>		
		<div class="alpaca-wizard-step-description">Phone, Address etc.</div>		
	</div>
</div>
