<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="../js/alpaca.js">
        </script>
        <script type="text/javascript" src="../examples/js/example.js">
        </script>
        <link type="text/css" href="../css/alpaca.css" rel="stylesheet" />
        <link type="text/css" href="../css/example.css" rel="stylesheet" />
    </head>
    <body>
        <h3>Text Field</h3>
        <h4>Test Case 1: </h4>
        <div id="field1">
        </div>
        <script type="text/javascript" id="field1-script">
            $("#field1").alpaca("A bit of text that is longer than 3 characters");
        </script>
        <h4>Test Case 2: </h4>
        <div id="field2">
        </div>
        <script type="text/javascript" id="field2-script">
            $(function(){
                $("#field2").alpaca("/alpaca/examples/data/data1.txt", {
                    "settings": {
                        "label": "Text Label",
                        "helper": "whazzzup",
                        "labelClass": "label-class",
                        "helperClass": "helper-class",
                        "size": 60
                    }
                }, "/alpaca/examples/data/schema1.json");
            });
        </script>
        <h4>Test Case 3: </h4>
        <div id="field3">
        </div>
        <script type="text/javascript" id="field3-script">
            $(function(){
                $("#field3").alpaca("A bit of text that is longer than 3 characters", {
                    "settings": {
                        "label": "Text Label",
                        "helper": "whazzzup",
                        "labelClass": "label-class",
                        "helperClass": "helper-class",
                        "templates": {
                            "edit": {
                                "fieldOuterEl": '<span class="alpaca-field" id="${outerElId}" alpaca-field-id="${id}"><div>What is up</div>{{html this.html}}</span>',
                                "controlFieldHelper": '{{if settings.helper}}<span class="{{if settings.helperClass}}${settings.helperClass}{{/if}}" id="${helperId}">${settings.helper}</span>{{/if}}'
                            }
                        },
                        "messages": {
                            "stringTooLong": "Maximum length {0}"
                        },
                        "size": 60
                    }
                }, {
                    "maxLength": 3
                });
                
            });
        </script>
        <h4>Test Case 4: </h4>
        <div id="field4">
        </div>
        <script type="text/javascript" id="field4-script">
            $(function(){
                var callback = function(field){
                    field.render('view');
                };
                $("#field4").alpaca("A bit of text that is longer than 3 characters", callback);
            });
        </script>
        <h4>Test Case 5: </h4>
        <div id="field5">
        </div>
        <script type="text/javascript" id="field5-script">
            $(function(){
                var callback = function(field){
                    field.render('view');
                };
                $("#field5").alpaca("A bit of text that is longer than 3 characters", {
                    "settings": {
                        "label": "Text Label",
                        "helper": "whazzzup",
                        "templates": {
                            "view": {
                                "field": '<div>test:${data}</div>'
                            }
                        }
                    }
                }, callback);
                
            });
        </script>
        <h4>Test Case 6: </h4>
        <div id="field6">
        </div>
        <script type="text/javascript"id="field6-script">
            $(function(){
                var callback = function(field){
                    field.render('view');
                };
                $("#field6").alpaca("A bit of text that is longer than 3 characters", {
                    "settings": {
                        "label": "Text Label",
                        "helper": "whazzzup"
                    },
                    "template": '/alpaca/examples/templates/_template5.html'
                }, callback);
                
            });
        </script>
        <h4>Test Case 7: </h4>
        <div id="field7">
        </div>
        <script type="text/javascript"id="field7-script">
            $(function(){
                $("#field7").alpaca("Strawberry", {
                    "settings": {
                        "label": "Text Label",
                        "helper": "Guess my favorite ice cream?"
                    }
                }, {
					"enum":["Vanilla","Chocolate","Coffee"]
				});
                
            });
        </script>    
	</body>
</html>
