<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="../js/alpaca.js">
        </script>
        <script type="text/javascript" src="../examples/js/example.js">
        </script>
        <link type="text/css" href="../css/alpaca.css" rel="stylesheet" />
        <link type="text/css" href="../css/example.css" rel="stylesheet" />
    </head>
    <body>
        <h3>View Examples</h3>
        <hr/><h4>Example 1: </h4>
        <div id="field1">
        </div>
        <script type="text/javascript" id="field1-script">
            $(function() {
                $("#field1").alpaca("Vanilla", {
                    "label": "Ice Cream",
                    "helper": "Your favorite ice cream?",
                    "size": 10
                }, {
                    "maxLength": 5
                }, {
                    "type": "edit",
                    "templates": {
                        "fieldOuterEl": '<span class="alpaca-field" id="${outerElId}" alpaca-field-id="${id}"><div>Alpaca Farm Survey</div>{{html this.html}}</span>',
                        "controlFieldHelper": '{{if options.helper}}<span class="{{if options.helperClass}}${options.helperClass}{{/if}}" id="${helperId}">${options.helper}</span>{{/if}}'
                    },
                    "messages": {
                        "stringTooLong": "Input Maximum length {0}"
                    }
                });
            });
        </script>
        <h4>Example 2: </h4>
        <div id="field2">
        </div>
        <script type="text/javascript" id="field2-script">
            $(function() {
                $("#field2").alpaca("Alpaca Farm Offers Best Home Made Ice Cream!", function(field) {
                    field.render('WEB_DISPLAY');
                });
            });
        </script>
        <h4>Example 3: </h4>
        <div id="field3">
        </div>
        <script type="text/javascript" id="field3-script">
            $(function() {
                $("#field3").alpaca("Alpaca Farm Offers Best Home Made Ice Cream!", {}, {}, {
                    "templates": {
                        "full": '<div>Our Tagline: ${data}</div>'
                    }
                });
                
            });
        </script>
        <h4>Example 4: </h4>
        <div id="field4">
        </div>
        <script type="text/javascript"id="field4-script">
            $(function() {
                $("#field4").alpaca('/alpaca/examples/data/data3.json', {
                    "label": "History Of Alpaca Farm",
                    "helper": "Family Owned Business Since 1996!"
                }, {}, {
                    "templates": {
                        "full": '/alpaca/examples/data/template3.html'
                    }
                });
            });
        </script>
    </body>
</html>
