<script type="text/x-handlebars-template">

    <span id="{{id}}">

        {{#if options.rightLabel}}
        <label class="alpaca-controlfield-label" for="{{id}}_checkbox">
        {{/if}}

        <input id="{{id}}_checkbox" type="checkbox" {{#if options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} {{#each options.data}}data-{{@key}}="{{value}}"{{/each}}/>

        {{#if options.rightLabel}}
        {{options.rightLabel}}
        </label>
        {{/if}}

    </span>

</script>