<script type="text/x-handlebars-template">

    <span id="{{id}}">

        {{#each checkboxOptions}}
        <span>

            <label class="alpaca-controlfield-label" for="{{id}}_checkbox_{{@index}}">
                <input type="checkbox" id="{{id}}_checkbox_{{@index}}" {{#if options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} data-checkbox-value="{{value.value}}" data-checkbox-index="{{@index}}" />
                {{text}}
            </label>
        </span>
        {{/each}}

    </span>

</script>