<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Alpaca - HTML5 Forms for jQuery - Address Field</title>
    <meta name="keywords" content="alpaca,forms,address field,gitana"/>
    <meta name="description" content="Address Field Examples for Alpaca Forms."/>
    <meta name="author" content="Gitana Software Inc."/>
    <link rel="icon" type="image/x-icon" href="../../../favicon.ico"/>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="../../../lib/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../../../lib/jquery.tmpl.js"></script>

    <!-- Alpaca -->
    <script type="text/javascript" src="../../../components/alpaca/alpaca.js"></script>
    <link type="text/css" href="../../../components/alpaca/alpaca.css" rel="stylesheet"/>

    <!-- jQuery UI Theme -->
    <link type="text/css" href="../../../lib/jquery-ui-latest/jquery-ui-latest.custom.css" rel="stylesheet"/>

    <!-- Additional CSS -->
    <link type="text/css" href="../../css/960.fluid.css" rel="stylesheet"/>

    <!-- Web Site -->
    <script type="text/javascript" src="../../lib/google-code-prettify/prettify.min.js"></script>
    <script type="text/javascript" src="../../js/themeswitchertool.js"></script>
    <script type="text/javascript" src="../../js/example.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <link type="text/css" href="../../css/site.css" rel="stylesheet"/>
    <link type="text/css" href="../../lib/google-code-prettify/prettify.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../lib/tweet/jquery.tweet.js"></script>
    <link type="text/css" href="../../lib/tweet/jquery.tweet.css" rel="stylesheet"/>

    <script type="text/javascript" src="https://use.typekit.com/fnm3kpm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
	<header>
		<div class='container_12'>
	    <div class='actual-body'>
	        <div class='grid_12'>
	            <h1><img src="../../img/alpaca.png"><span>Easy Forms for jQuery</span></h1>
                <div class="resource-bar">
                    <a href="../../../index.html">Home</a>
                    <a href="../../../resources.html">Downloads</a>
                    <a href="javascript:void(0);" class="current">Documentation</a>
                    <a href="../../forms/customer-profile/edit-form.html">Forms</a>
                    <a href="../../../resources.html#mobile">Mobile</a>
                    <a href="../../../tutorials.html">Tutorials</a>
                    <a href="../../../consulting.html">Consulting</a>
                </div>
            </div>
	    </div>
		</div>
	</header>
<div class='container_12'>
    <div class="actual-body">
        <div class="grid_3">
            <div class="container_12 side-bar">
            </div>
        </div>

        <div class="grid_9">
            <div class="container_12">
                <div class="widget">
                    <div class="widget-body">
                        <div class='grid_12 alpaca-example-header' id='address-field' alpaca-types='address'>
                            <h1>Address Field</h1>
                        </div>
                        <div class='grid_12 alpaca-example-case'>
                            <h3>Address Field: </h3>
                            <h4>Address field with google map.</h4>

                            <div id="field1">
                            </div>
                            <script type="text/javascript" id="field1-script">
$(function() {
    $("#field1").alpaca({
        "data": {},
        "options": {
            "type": "address",
            "addressValidation": true
        },
        "schema": {
            "title": "Home Address",
            "type": "any"
        }
    });
});
                            </script>
                        </div>
                        <div class="clear height-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container_12">
        <div class="grid_12 copyright">
            Copyright &copy; 2013 Gitana Software, Inc. | All Rights Reserved
        </div>
    </div>
</footer>
</body>
</html>

