<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Alpaca - HTML5 Forms for jQuery - Miscellaneous Field</title>
        <meta name="keywords" content="alpaca,forms,miscellaneous,gitana" />
        <meta name="description" content="Miscellaneous Field Examples for Alpaca Forms." />
        <meta name="author" content="Gitana Software Inc." />
        <link rel="icon" type="image/x-icon" href="../../../favicon.ico" />
        <script type="text/javascript" src="../../../lib/jquery-latest.min.js"></script>

        <!--Alpaca JavaScript-->
        <script type="text/javascript" src="../../../lib/base.js"></script>
        <script type="text/javascript" src="../../../lib/validator.js"></script>

        <script type="text/javascript" src="../../../lib/jquery.tmpl.js"></script>
        <script type="text/javascript" src="../../../lib/equiv_and_hoozit.js"></script>
        <script type="text/javascript" src="../../../lib/jquery.maskedinput-1.2.2.min.js"></script>

        <script type="text/javascript" src="../../../js/Alpaca.js"></script>

        <script type="text/javascript" src="../../../js/views/DefaultView.js"></script>
        <script type="text/javascript" src="../../../js/views/ListView.js"></script>
        <script type="text/javascript" src="../../../js/views/MobileView.js"></script>
        <script type="text/javascript" src="../../../js/views/LayoutView.js"></script>

        <script type="text/javascript" src="../../../js/View.js"></script>

        <script type="text/javascript" src="../../../js/Field.js"></script>
        <script type="text/javascript" src="../../../js/ControlField.js"></script>
        <script type="text/javascript" src="../../../js/ContainerField.js"></script>
        <script type="text/javascript" src="../../../js/Connector.js"></script>
        <script type="text/javascript" src="../../../js/Form.js"></script>

        <!--Alpaca Base Fields-->
        <script type="text/javascript" src="../../../js/fields/basic/TextField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/TextAreaField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/CheckBoxField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/FileField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ListField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/RadioField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/SelectField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/NumberField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ArrayField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ObjectField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/AnyField.js"></script>
        <!--End of Alpaca Base Fields-->

        <!--Alpaca Other Fields-->
        <script type="text/javascript" src="../../../js/fields/advanced/AddressField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/DateField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/EmailField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IntegerField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IPv4Field.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/JSONField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IntegerField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/LowerCaseField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/MapField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PasswordField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PersonalNameField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PhoneField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/TagField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/TimeField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/UpperCaseField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/WysiwygField.js"></script>
        <!--End of Alpaca Other Fields-->

        <script type="text/javascript" src="../../../js/views/DefaultViewLanguagePacks.js"></script>

        <!--End of Alpaca JavaScript-->

        <script type="text/javascript" src="../../lib/google-code-prettify/prettify.min.js"></script>
        <script type="text/javascript" src="../../js/themeswitchertool.js"></script>
        <script type="text/javascript" src="../../js/example.js"></script>

        <!--Alpaca CSS-->
        <link type="text/css" href="../../../css/960.fluid.css" rel="stylesheet"/>
        <link type="text/css" href="../../../css/alpaca.css" rel="stylesheet"/>
        <link type="text/css" href="../../../css/jquery-ui-latest.custom.css" rel="stylesheet"/>
        <!--End of Alpaca CSS-->
        <link type="text/css" href="../../css/site.css" rel="stylesheet"/>
        <link type="text/css" href="../../lib/google-code-prettify/prettify.css" rel="stylesheet"/>

    </head>
    <body>
		<header>
			<div class='container_12'>
		    <div class='actual-body'>
		        <div class='grid_12'>
		            <h1><img src="../../img/alpaca.png"><span>Easy HTML5 Forms for jQuery</span></h1>
		            <div class="resource-bar">
		                <a href="../../../index.html">Home</a>
		                <a href="../../../resources.html#downloads">Downloads</a>
		                <a href="../../../tutorials.html">Tutorials</a>
		                <a href="javascript:void(0);" class="current">Components</a>
		                <a href="../../../resources.html#documentation">Documentation</a>
		                <a href="../../../resources.html#unittests">Tests</a>
		                <a href="../../forms/customer-profile/edit-form.html">Forms</a>
		                <a href="../../../resources.html#mobile">Mobile</a>
		            </div>
		        </div>
		    </div>
			</div>
		</header>
<div class='container_12'>
    <div class="actual-body">
        <div class="grid_3">
            <div class="container_12 side-bar">
            </div>
        </div>

        <div class="grid_9">
            <div class="container_12">
                <div class="widget">
                    <div class="widget-body">
            <div class='grid_12 alpaca-example-header' id='personalname-field' alpaca-types='personalname'>
                <h1>Personal Name Field</h1>
            </div>
                        <div class='grid_12 alpaca-example-case'>
                    <h3>Example 1:</h3>
                    <h4>Personal name field.</h4>
                    <div id="field0">
                    </div>
                    <script type="text/javascript" id="field0-script">
$("#field0").alpaca({
    "data": "Oscar Zoroaster Phadrig Isaac Norman Henkel Emmannuel Ambroise Diggs",
    "options": {
        "type": "personalname"
    }
});
                    </script>
                        </div>
                        <div class="clear height-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container_12">
        <div class="grid_12 copyright">
            Copyright &copy; 2012 Gitana Software | All Rights Reserved
        </div>
    </div>
</footer>
    </body>
</html>
