<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Alpaca - HTML5 Forms for jQuery - WYSIWYG Field</title>
        <meta name="keywords" content="alpaca,forms,wysiwys,gitana" />
        <meta name="description" content="WYSIWYG Field for Alpaca Forms." />
        <meta name="author" content="Gitana Software Inc." />
        <link rel="icon" type="image/x-icon" href="../../../favicon.ico" />
        <script type="text/javascript" src="../../../lib/jquery-latest.min.js"></script>
        <script type="text/javascript" src="../../../lib/jquery.wysiwyg/jquery.wysiwyg.js"></script>

        <!--Alpaca JavaScript-->
        <script type="text/javascript" src="../../../lib/base.js"></script>
        <script type="text/javascript" src="../../../lib/validator.js"></script>

        <script type="text/javascript" src="../../../lib/jquery.tmpl.js"></script>
        <script type="text/javascript" src="../../../lib/equiv_and_hoozit.js"></script>
        <script type="text/javascript" src="../../../lib/jquery.maskedinput-1.3.1.js"></script>

        <script type="text/javascript" src="../../../js/Alpaca.js"></script>

        <script type="text/javascript" src="../../../js/views/DefaultView.js"></script>
        <script type="text/javascript" src="../../../js/views/ListView.js"></script>
        <script type="text/javascript" src="../../../js/views/MobileView.js"></script>
        <script type="text/javascript" src="../../../js/views/LayoutView.js"></script>

        <script type="text/javascript" src="../../../js/View.js"></script>

        <script type="text/javascript" src="../../../js/Field.js"></script>
        <script type="text/javascript" src="../../../js/ControlField.js"></script>
        <script type="text/javascript" src="../../../js/ContainerField.js"></script>
        <script type="text/javascript" src="../../../js/Connector.js"></script>
        <script type="text/javascript" src="../../../js/Form.js"></script>

        <!--Alpaca Base Fields-->
        <script type="text/javascript" src="../../../js/fields/basic/TextField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/TextAreaField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/CheckBoxField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/FileField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ListField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/RadioField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/SelectField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/NumberField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ArrayField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/ObjectField.js"></script>
        <script type="text/javascript" src="../../../js/fields/basic/AnyField.js"></script>
        <!--End of Alpaca Base Fields-->

        <!--Alpaca Other Fields-->
        <script type="text/javascript" src="../../../js/fields/advanced/AddressField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/DateField.js"></script>
		<script type="text/javascript" src="../../../js/fields/advanced/DatetimeField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/EmailField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IntegerField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IPv4Field.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/JSONField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/IntegerField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/LowerCaseField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/MapField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PasswordField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PersonalNameField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/PhoneField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/TagField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/TimeField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/UpperCaseField.js"></script>
        <script type="text/javascript" src="../../../js/fields/advanced/WysiwygField.js"></script>
        <!--End of Alpaca Other Fields-->

        <script type="text/javascript" src="../../../js/views/DefaultViewLanguagePacks.js"></script>

        <!--End of Alpaca JavaScript-->

        <script type="text/javascript" src="../../lib/google-code-prettify/prettify.min.js"></script>
        <script type="text/javascript" src="../../js/themeswitchertool.js"></script>
        <script type="text/javascript" src="../../js/example.js"></script>
		<script type="text/javascript" src="../../lib/tweet/jquery.tweet.js"></script>
		<script type="text/javascript" src="../../js/footer.js"></script>

        <!--Alpaca CSS-->
        <link type="text/css" href="../../../css/960.fluid.css" rel="stylesheet"/>
        <link type="text/css" href="../../../css/alpaca.css" rel="stylesheet"/>
        <link type="text/css" href="../../../css/jquery-ui-latest.custom.css" rel="stylesheet"/>

        <!--End of Alpaca CSS-->
        <link type="text/css" href="../../../lib/jquery.wysiwyg/jquery.wysiwyg.css" rel="stylesheet"/>

        <link type="text/css" href="../../css/site.css" rel="stylesheet"/>
        <link type="text/css" href="../../lib/google-code-prettify/prettify.css" rel="stylesheet"/>
		    <link type="text/css" href="../../lib/tweet/jquery.tweet.css" rel="stylesheet"/>

    <script type="text/javascript" src="https://use.typekit.com/fnm3kpm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>




    </head>
    <body>
		<header>
			<div class='container_12'>
		    <div class='actual-body'>
		        <div class='grid_12'>
		            <h1><img src="../../img/alpaca.png"><span>Easy HTML5 Forms for jQuery</span></h1>
                    <div class="resource-bar">
                        <a href="../../../index.html">Home</a>
                        <a href="../../../resources.html">Downloads</a>
                        <a href="javascript:void(0);" class="current">Documentation</a>
                        <a href="../../forms/customer-profile/edit-form.html">Forms</a>
                        <a href="../../../resources.html#mobile">Mobile</a>
                        <a href="../../../tutorials.html">Tutorials</a>
                        <a href="../../../consulting.html">Consulting</a>
                    </div>
                </div>
		    </div>
			</div>
		</header>
<div class='container_12'>
    <div class="actual-body">
        <div class="grid_3">
            <div class="container_12 side-bar">
            </div>
        </div>

        <div class="grid_9">
            <div class="container_12">
                <div class="widget">
                    <div class="widget-body">
            <div class='grid_12 alpaca-example-header' id='wysiwyg-field' alpaca-types='wysiwyg'>
                <h1>WYSIWYG Field</h1>
            </div>
                        <div class='grid_12 alpaca-example-case'>
                    <h3>Example 1: </h3>
                    <h4>WYSIWYG editor with full list of buttons.</h4>
                    <div id="field1">
                    </div>
                    <script type="text/javascript" id="field1-script">
$(function() {
    $("#field1").alpaca({
        "data": "Ice cream is a <b>frozen</b> dessert usually made from "
            + "<i>dairy products</i>,<p/> such as milk and cream, "
            + "and often combined with fruits or other ingredients and flavors.",
        "options": {
            "type": "wysiwyg"
        }
    });
});
                    </script>
                    <h3>Example 2: </h3>
                    <h4>WYSIWYG editor with selected list of buttons.</h4>
                    <div id="field2">
                    </div>
                    <script type="text/javascript" id="field2-script">
$(function() {
    $("#field2").alpaca({
        "data": "Ice cream is a <b>frozen</b> dessert usually made from "
            + "<i>dairy products</i>,<p/> such as milk and cream, "
            + "and often combined with fruits or other ingredients and flavors.",
        "options": {
            "type": "wysiwyg",
            "wysiwyg" : {
                "controls": {
                    "html": { "visible": true },
                    "createLink": { "visible": false },
                    "unLink": { "visible": false },
                    "h1": { "visible": false },
                    "h2": { "visible": false },
                    "h3": { "visible": false },
                    "indent": { "visible": false },
                    "insertHorizontalRule": { "visible": false },
                    "insertImage": { "visible": false },
                    "insertOrderedList": { "visible": false },
                    "insertTable": { "visible": false },
                    "insertUnorderedList": { "visible": false },
                    "justifyCenter": { "visible": false },
                    "justifyFull": { "visible": false },
                    "justifyLeft": { "visible": false },
                    "justifyRight": { "visible": false },
                    "outdent": { "visible": false },
                    "redo": { "visible": false },
                    "removeFormat": { "visible": false },
                    "subscript": { "visible": false },
                    "superscript": { "visible": false },
                    "undo": { "visible": false },
                    "code": { "visible": false },
                    "strikeThrough": { "visible": false }
                }
            }
        }
    });
});
                    </script>
                            <h3>Example 3: </h3>
                            <h4>WYSIWYG editor with on-demand option. Move your mouse over the textarea and see the difference it makes.</h4>
                            <div id="field3">
                            </div>
                            <script type="text/javascript" id="field3-script">
$(function() {
    $("#field3").alpaca({
        "data": "Ice cream is a <b>frozen</b> dessert usually made from "
            + "<i>dairy products</i>,<p/> such as milk and cream, "
            + "and often combined with fruits or other ingredients and flavors.",
        "options": {
            "type": "wysiwyg",
            "onDemand": true,
            "rows": 10,
            "cols": 60
        }
    });
});
                            </script>
                            <h3>Example 4: </h3>
                            <h4>WYSIWYG editor with validation.</h4>
                            <div id="field4">
                            </div>
                            <script type="text/javascript" id="field4-script">
$(function() {
    $("#field4").alpaca({
        "data": "picture",
        "options": {
            "type": "wysiwyg",
            "onDemand": true,
            "rows": 10,
            "cols": 60
        },
        "schema": {
            "type" : "string",
            "enum": ["pen","eraser","book"]
        }
    });
});
                            </script>
                        </div>
                        <div class="clear height-fix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container_12">
        <div class="grid_12 copyright">
            Copyright &copy; 2013 Gitana Software, Inc. | All Rights Reserved
        </div>
    </div>
</footer>
    </body>
</html>
