html, body {
    /**font-family: 'Trebuchet MS', tahoma, arial, helvetica, sans-serif;**/
	font-weight: 200 !important;
	font-family: 'museo-sans','HelveticaNeue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	vertical-align: baseline;
    min-width: 980px;
    margin: auto;
}

body {
    background: url("images/bg.png") repeat scroll 0 0 transparent;
}

.actual-body {
    width: 980px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, .btn, nav, label {
    /*font-family: Mentone-SemiBold, 'Mentone SemiBold', 'Trebuchet MS', sans-serif;*/
	font-weight: 400 !important;
    /*text-shadow: 1px 1px #222 !important;*/
}

h2 {
    padding: 10px 0;
}

h1 img {
    vertical-align: middle;
}

h1 span {
	font-size: 28px;
    padding-left: 40px;
    vertical-align: middle;
	font-weight: 600 !important;
    text-shadow: 2px 2px #222 !important;
}

p {
    /**font-size: 1.2em;**/
	font-size: 16px;
	color: #222;;
	font-weight: 200 !important;
    text-shadow: 1px 1px #eee;
}

code {
    color: #222222;
    font-family: "Courier New",sans-serif;
    font-size: 16px;
    font-weight: 600 !important;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px #EEEEEE;
}

h2 a {
    color: #ffffff;
}

.alpaca-example-case h2 a {
    color: #000000;
}

pre ol.linenums {
    margin: 0px;
	font-size: 12px;
}

.copyright {
    text-align: center;
    margin: 10px 0;
    margin-top: 30px !important;
}

div.step:not(:first-child)
{
	margin-top: 40px !important;
}

div.step > img {
    float: left;
    margin: 0px 20px 20px 0px;
	padding-top: 0px;
}

div.step > p {
	margin-left: 65px;
}

div.step > pre {
	margin-left: 65px;
}

.step {
    clear: both;
}

div.step {
    margin: 10px 0;
}

/*
div.step > p, div.step > pre, div.step > div {
    margin-left: 60px;
}
*/

.resource-bar {
    /**font-size: 1.2em;**/
	font-size: 18px;
}

.resource-bar img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.resource-bar {
}

.resource-bar a {
    text-decoration: none;
    color: #bbb;
	padding-right: 15px;
	padding-left: 15px;
    text-shadow: 1px 1px #222 !important;
    font-weight: 200;
}

.resource-bar a:hover {
    color: #ffffff;
}

.resource-bar a.current {
    color: #ffffff;
}

img.resource-icon {
    float: right;
}

/* widget */
.widget {
    background-image: url("images/title-r.png");
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    margin-top: 25px;
    /*background-color: #313131;*/
    background-color: #2A2C35;
    clear: both;
}

.widget-title {
    background: url("images/title.png") repeat scroll left top transparent;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    margin-right: 4px;
    padding-left: 10px;
    color: #eee;
}

.widget-title h2 {
    color: #FFFFFF;
    display: inline;
    font-size: 1.2em;
    line-height: 2.0em;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000000;
}

.widget-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 10px 20px;
}

.widget-body h1 {
    font-size: 1.4em;
}

header {
    /**background-color:#121212;**/
	background-color: #333;
    color: #eee;
    width: 100%;
    /**height: 140px;**/
	height: 175px;
	text-align: center;
}

footer {
    background-color:#121212;
    color: #aaa;
	font-size: 16px;
	padding-top: 10px;
    clear: both;
    height: 300px;
    margin-top: -50px;
}

/* side bar */
.alpaca-example-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    font-weight: bold;
}

.alpaca-example-sidebar ul li {
    padding: 2px 2px 2px 4px;
    margin: 1px;
    font-weight: normal;
}

.alpaca-example-sidebar ul li a {
    text-decoration: none;
}

.alpaca-example-sidebar .widget-body {
    padding: 10px 0 10px 10px;
}

/* Tutorial */
.tutorial-example {
    font-size : 12px;
}

/* Table */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    clear: both;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid;
    font-size: 14px;
}

.table thead {
    background: url("images/table-head-bg.png") repeat-x scroll top left #dddddd;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #bcbcbc;
}

.table thead th:first-child {
    border-left: none;
}

.table thead th:last-child {
    border-right: none;
}

.table thead th {
    vertical-align: middle;
    text-align: left;
    padding: 8px 13px;
    border-left: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    cursor: pointer;
}

.table tbody th, .table tbody td, .table tfoot th, .table tfoot td {
    vertical-align: top;
    text-align: left;
    padding: 7px;
    border-left: 1px dotted #bebebe;
}

.table tbody td {
    background: #f2f2f2;
}

.table tbody th:first-child, .table tbody .th:first-child, .table tbody td:first-child, .table tfoot th:first-child, .table tfoot td:first-child {
    border-left: none;
}

.table tbody tr.even td {
    background: #e6e6e6;
}

.table tbody tr:hover th, .table tbody tr:hover .th, .table tbody tr:hover td {
    background: #d8dce6;
}

/* Button bar */

.btn-toolbar {
    margin-bottom: 9px;
    margin-top: 9px;
}

.btn:first-child {
}

.btn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-right: 4px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

a {
    /*color: #0088CC;*/
    color: #0066AA;
    text-decoration: none;
    font-weight: 400;
}

.btn:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}

textarea.sample-code {
    font-family: "Courier New";
    font-size: 0.6em;
    font-style: italic;
}
.input-xxlarge {
    width: 530px;
}

*[id^='field'] {
    font-size: 12px;
}

/* date datatime picker */
.ui-widget.ui-datepicker {
    font-size: 12px;
}

/* Embedded youtube videos */
.embedded-youtube {
    text-align: center;
}

header
{
    background: url(images/header-background.png) 0 0 repeat-x !important;
}

header > div
{
    background: url(images/rays-big.png) !important;
    height: 100%;
}

.widget-body H3
{
    color: #444 !important;
    text-shadow: 1px 1px #eee !important;
    font-weight: 400 !important;
}

.embedded-youtube IFRAME
{
    border: 1px black solid;
}

.loading
{
    color: white !important;
    text-shadow: 0px 0px !important;
}

.front-ui-images
{
    height: 130px;
}

.front-ui-images img
{
    width: 250px;
    height: 125px;
    border: 1px #ccc solid;
    padding: 3px;
}

.front-ui-images SPAN.bootstrap
{
}

.front-ui-images SPAN.jquerymobile
{
}

.front-ui-images SPAN.jqueryui
{
}

.front-ui-examples
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.front-ui-examples SPAN
{
    width: 250px;
    height: 50px;
    border: 1px #ccc solid;
    padding: 5px;
    margin: 5px;
}
