<script type="text/x-handlebars-template">

    {{#compare actionbarStyle "left"}}
        <div class="alpaca-array-item-flex-container">
            <div>
                {{#arrayActionbar}}{{/arrayActionbar}}
            </div>
            <div class="alpaca-array-item-flex-1">
                {{#itemField}}{{/itemField}}
            </div>
        </div>
    {{else}}
        {{#compare actionbarStyle "right"}}
        <div class="alpaca-array-item-flex-container">
            <div class="alpaca-array-item-flex-1">
                {{#itemField}}{{/itemField}}
            </div>
            <div>
                {{#arrayActionbar}}{{/arrayActionbar}}
            </div>
        </div>
        {{else}}
            <div>
                <div>
                    {{#compare actionbarStyle "top"}}
                    {{#arrayActionbar}}{{/arrayActionbar}}
                    {{/compare}}
    
                    {{#itemField}}{{/itemField}}
    
                    {{#compare actionbarStyle "bottom"}}
                    {{#arrayActionbar}}{{/arrayActionbar}}
                    {{/compare}}    
                </div>
            </div>
        {{/compare}}
    {{/compare}}

</script>
