<script type="text/x-handlebars-template">

    <div class="alpaca-edit-container">

        {{#if options.label}}
        <legend {{#if options.labelClass}}class="{{options.labelClass}}"{{/if}}>{{options.label}}</legend>
        {{/if}}

        {{#container}}{{/container}}

        {{#if options.helper}}
        <p class="help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
            <i class="info-sign"></i>
            {{options.helper}}
        </p>
        {{/if}}

    </div>

</script>