<script type="text/x-handlebars-template">

    <div class="alpaca-array-toolbar" data-alpaca-array-toolbar-field-id="{{id}}" {{#compare toolbarStyle "button"}} btn-group{{/compare}}>

        {{#each actions}}

            {{#compare ../toolbarStyle "link"}}
                <a href="#" class="alpaca-array-toolbar-action" data-alpaca-array-toolbar-action="{{action}}">{{{label}}}</a>
            {{/compare}}

            {{#compare ../toolbarStyle "button"}}
                <button class="alpaca-array-toolbar-action {{../view.styles.smallButton}}" data-alpaca-array-toolbar-action="{{action}}">
                    {{#if iconClass}}
                    <i class="{{iconClass}}"></i>
                    {{/if}}
                    {{#if label}}{{{label}}}{{/if}}
                </button>
            {{/compare}}

        {{/each}}

    </div>

</script>