<script type="text/x-handlebars-template">

    <div class="alpaca-array-actionbar alpaca-array-actionbar-{{actionbarStyle}} btn-group" data-alpaca-array-actionbar-parent-field-id="{{parentFieldId}}" data-alpaca-array-actionbar-field-id="{{fieldId}}" data-alpaca-array-actionbar-item-index="{{itemIndex}}">
        {{#each actions}}
        <button class="alpaca-array-actionbar-action {{../view.styles.smallButton}}" data-alpaca-array-actionbar-action="{{action}}">
            {{#if this.iconClass}}
            <i class="{{this.iconClass}}"></i>
            {{/if}}
            {{#if label}}{{{label}}}{{/if}}
        </button>
        {{/each}}
    </div>

</script>