<script type="text/x-handlebars-template">

    {{#if hideNone}}
    {{else}}
    <div class="radio">
        <label>
            <input type="radio" {{#if options.readonly}}readonly="readonly"{{/if}} name="{{name}}" value=""/>{{{noneLabel}}}
        </label>
    </div>
    {{/if}}

    {{#each selectOptions}}
    <div class="radio">
        <label>
            <input type="radio" {{#if ../options.readonly}}readonly="readonly"{{/if}} name="{{../name}}" value="{{value}}" {{#compare value ../data}}checked="checked"{{/compare}}/>{{{text}}}
        </label>
    </div>
    {{/each}}

</script>