<script type="text/x-handlebars-template">

    <div >
        <textarea
            id="{{id}}"
            data-controller="rich-textbox"
            {{#if options.height}} data-rich-textbox-height="{{options.height}}" {{/if}}
            {{#if options.placeholder}} placeholder="{{options.placeholder}}" {{/if}}
            {{#if options.hideToolbar}} data-rich-textbox-hide-toolbar="{{options.hideToolbar}}" {{/if}}
            {{#if options.stringInsert.trigger}} data-rich-textbox-string-insert-trigger="{{options.stringInsert.trigger}}" {{/if}}
            {{#if options.stringInsert.endTrigger}} data-rich-textbox-string-insert-end-trigger="{{options.stringInsert.endTrigger}}" {{/if}}
            {{#if options.stringInsert.label}} data-rich-textbox-string-insert-label="{{options.stringInsert.label}}" {{/if}}
            {{#if options.stringInsert.options}} data-rich-textbox-string-insert-options="{{str options.stringInsert.options}}" {{/if}}
            {{#if options.disabled}} data-rich-textbox-disabled="true" {{/if}}
        >
        </textarea>
    </div>
</script>
