<script type="text/x-handlebars-template">

    {{#if options.multiple}}

        {{#each checkboxOptions}}

            <div>

                <label>

                    <input type="checkbox" data-checkbox-index="{{@index}}" data-checkbox-value="{{value}}" {{#if ../options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} {{#each ../options.data}}data-{{@key}}="{{value}}"{{/each}}/>
                    {{{text}}}

                </label>
            </div>

        {{/each}}

    {{else}}

        <div>

            <label>

                <input type="checkbox" {{#if options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} {{#each options.data}}data-{{@key}}="{{value}}"{{/each}}/>

                {{{options.rightLabel}}}
            </label>

        </div>

    {{/if}}

</script>
