<script type="text/x-handlebars-template">

    <form role="form">

        {{#formItems}}{{/formItems}}

        <div class="alpaca-form-buttons-container">
            {{#if options.buttons}}
                {{#each options.buttons}}
                    <button data-key="{{@key}}" type="{{type}}" {{#if id}}id="{{id}}"{{/if}} class="alpaca-form-button alpaca-form-button-{{@key}} {{styles}}" {{#each value}}{{@key}}="{{this}}"{{/each}} {{#each attributes}} {{@key}}="{{this}}"{{/each}}>{{{value}}}</button>
                {{/each}}
            {{/if}}
        </div>

    </form>

</script>