<!-- footer.html -->
<footer>
    <div class="row">
        <div class="col-md-6">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}   </p>
        </div>
        <div class="col-md-6" align="right">
            Alpaca is sponsored by
            <a href="https://www.cloudcms.com" target="_blank">
                <img src="{{ ASSET_PATH }}/images/cloudcms_logo.png" style="width: 125px">
            </a>
        </div>
        <br/>
        <br/>
    </div>

</footer>

<!-- footer.html end -->
