<! -- header.html -->
<meta charset="utf-8">
<title>Alpaca Forms - {{ page.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.meta.description }}">
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% else %}
<meta name="keywords" content="{{ site.meta.keywords }}">
{% endif %}
<meta name="author" content="{{ site.author.name }}">

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le styles -->
<link href="{{ BASE_PATH }}/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ BASE_PATH }}/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{{ ASSET_PATH }}/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ ASSET_PATH }}/resources/bootstrap.vertical-tabs/bootstrap.vertical-tabs.css" rel="stylesheet">
<link href="{{ ASSET_PATH }}/resources/syntax/syntax.css" rel="stylesheet">
<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
<link href="{{ BASE_PATH }}/css/custom.css" rel="stylesheet">

<!-- Le fav and touch icons -->
<!-- Update these with your own images
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->

<!-- icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/alpaca-icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/alpaca-icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/alpaca-icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/alpaca-icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/alpaca-icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/alpaca-icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/alpaca-icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/alpaca-icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/alpaca-icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/alpaca-icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/alpaca-icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/alpaca-icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/alpaca-icons/favicon-16x16.png">
<link rel="manifest" href="/alpaca-icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/alpaca-icons//ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- atom & rss feed -->
<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

<!-- Google Maps -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- jQuery -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Handlebars -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/handlebars/handlebars.min.js"></script>

<!-- Alpaca -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/alpaca/bootstrap/alpaca.js"></script>
<link type="text/css" href="{{ BASE_PATH }}/lib/alpaca/bootstrap/alpaca.css" rel="stylesheet"/>

<!-- jQuery UI Support -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/jquery-ui/jquery-ui.js"></script>
<link type="text/css" href="{{ BASE_PATH }}/lib/jquery-ui/themes/cupertino/jquery-ui.min.css" rel="stylesheet"/>

<!-- Required for jQuery UI DateTimePicker control -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
<link type="text/css" href="{{ BASE_PATH }}/lib/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" rel="stylesheet"/>

<!-- Required for Text Field masking -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/jquery-maskedinput/dist/jquery.maskedinput.min.js"></script>

<!-- Required for the Editor field (sample code viewing) -->
<script src="{{ BASE_PATH }}/lib/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<!-- Beautify (used by EditorField) -->
<script src="{{ BASE_PATH }}/lib/js-beautify/js/lib/beautify.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ BASE_PATH }}/lib/js-beautify/js/lib/beautify-css.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ BASE_PATH }}/lib/js-beautify/js/lib/beautify-html.js" type="text/javascript" charset="utf-8"></script>

<!-- typeahead.js -->
<script src="{{ BASE_PATH }}/lib/typeahead.js/dist/bloodhound.min.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}/lib/typeahead.js/dist/typeahead.bundle.min.js" type="text/javascript"></script>

<!-- datatables (for TableField) -->
<script src="{{ BASE_PATH }}/lib/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}/lib/datatables.net-bs/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="{{ BASE_PATH }}/lib/datatables.net-rowreorder/js/dataTables.rowReorder.js" type="text/javascript"></script>
<link type="text/css" href="{{ BASE_PATH }}/lib/datatables.net-bs/css/dataTables.bootstrap.css" rel="stylesheet"/>

<!-- ckeditor (for the ckeditor field) -->
<script src="{{ BASE_PATH }}/lib/ckeditor/ckeditor.js" type="text/javascript"></script>

<!-- tinymce (for the tinymce field) -->
<script src="{{ BASE_PATH }}/lib/tinymce/tinymce.js" type="text/javascript"></script>

<!-- fileupload control (for UploadField) -->
<link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/lib/blueimp-file-upload/css/jquery.fileupload.css"/>
<link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/lib/blueimp-file-upload/css/jquery.fileupload-ui.css"/>
<script src="{{ BASE_PATH }}/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ BASE_PATH }}/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{ BASE_PATH }}/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="{{ BASE_PATH }}/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{ BASE_PATH }}/lib/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>

<!-- handsontable (for GridField) -->
<script src="{{ BASE_PATH }}/lib/handsontable/dist/jquery.handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/handsontable/dist/jquery.handsontable.full.css"/>

<!-- bootstrap datetimepicker for date, time and datetime controls -->
<script src="{{ BASE_PATH }}/lib/moment/min/moment-with-locales.min.js"></script>
<script src="{{ BASE_PATH }}/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>

<!-- bootstrap-multiselect for time field -->
<script src="{{ BASE_PATH }}/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/bootstrap-multiselect/css/bootstrap-multiselect.css"/>

<!-- jQuery Price Format for currency field -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/jquery-price-format2/jquery.price_format.min.js"></script>

<!-- Spectrum plugin for Color picker -->
<script src="{{ BASE_PATH }}/lib/spectrum/spectrum.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/spectrum/spectrum.css"/>

<!-- Color Picker for Bootstrap -->
<script src="{{ BASE_PATH }}/lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css"/>

<!-- Pick-A-Color for Bootstrap -->
<script src="{{ BASE_PATH }}/lib/tinycolor/dist/tinycolor-min.js"></script>
<script src="{{ BASE_PATH }}/lib/pick-a-color-m/build/1.2.3/js/pick-a-color-1.2.3.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/pick-a-color-m/build/1.2.3/css/pick-a-color-1.2.3.min.css"/>

<!-- bootstrap-tokenfield (for token field) -->
<script src="{{ BASE_PATH }}/lib/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css"/>

<!-- summernote editor -->
<script src="{{ BASE_PATH }}/lib/summernote/dist/summernote.min.js" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/summernote/dist/summernote.css"/>

<!-- markdown (for the markdown field) -->
<script src="{{ BASE_PATH }}/lib/simplemde/dist/simplemde.min.js" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="{{ BASE_PATH }}/lib/simplemde/dist/simplemde.min.css"/>

<!-- START - Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74723052-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- END - Google Analytics -->

<!-- pretty print -->
<script type="text/javascript" src="{{ BASE_PATH }}/lib/google-code-prettify/src/prettify.js"></script>
<link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/lib/google-code-prettify/src/prettify.css"/>

<!-- custom js -->
<script src="{{ BASE_PATH }}/js/global.js"></script>

<!--[if lt IE 9]>
  <script src="/lib/respond/dest/respond.min.js"></script>
<![endif]-->


<script>
    Alpaca.defaultFocus = false;
</script>

<! -- header.html end -->
