/** Added to outer field elements to hide them **/
.alpaca-hidden
{
    display: none;
}

/** Added to every field outer element **/
.alpaca-field
{

}

/** Added to every container outer field element **/
.alpaca-container
{

}

/** Added to the optional label (or legend) accompanying any container **/
.alpaca-container-label
{

}

/** Added to every container item field within a container **/
.alpaca-container-item
{

}

/** Added to the first container item field within a container **/
.alpaca-container-item-first
{

}

/** Added to the last container item field within a container **/
.alpaca-container-item-last
{

}

/** Added to the dom element holding the toolbar for an array **/
.alpaca-array-toolbar
{

}

/** Added to a button in the array toolbar that triggers an action **/
.alpaca-array-toolbar-action
{

}

/** Added to the dom element holding action buttons for items in an array **/
.alpaca-array-item-actions
{

}

/** Added to a button in the array items actions bar that triggers an action **/
.alpaca-array-item-action
{

}


/** Added to every control outer field element **/
.alpaca-control
{

}

/** Added to the optional label accompanying any control **/
.alpaca-control-label
{

}

/** ******************************************************** **/
/**                        STATE LABELS                      **/
/** ******************************************************** **/

/** Added to top-most control when rendering in display mode **/
.alpaca-display
{

}

/** Added to top-most control when rendering in create mode **/
.alpaca-create
{

}

/** Added to top-most control when rendering in edit mode **/
.alpaca-edit
{

}

/** Added to any field that is optional **/
.alpaca-required
{

}

/** Added to any field that is required **/
.alpaca-optional
{

}

/** Added to any field that is readonly **/
.alpaca-readonly
{

}

/** Added to the container that holds Alpaca field helper text **/
.alpaca-helper
{

}

/** Added to form containers that are rendering in horizontal mode **/
.alpaca-horizontal
{

}

/** Added to form containers that are rendering in vertical mode **/
.alpaca-vertical
{

}

/** Added to the top most container element **/
.alpaca-top
{

}


/** ******************************************************** **/
/**                           ICONS                          **/
/** ******************************************************** **/

.alpaca-icon-helper
{

}

.alpaca-icon-required
{

}





/** Added to indicate hover state **/
.alpaca-hover
{
}

/** General purpose HTML clear **/
.alpaca-clear
{
    clear: both;
}

.alpaca-float-right
{
    float: right;
}

