/** ************************************** **/
/** TWITTER TYPEAHEAD                      **/
/** ************************************** **/

.twitter-typeahead .tt-dropdown-menu
{
    background-color: white;
    border: 1px #ccc solid;
    padding: 10px;
    color: #999;
    width: 100%;
    padding-bottom: 0px;
}

.twitter-typeahead .tt-dropdown-menu P
{
    font-size: 1em;
}

.tt-suggestion.tt-is-under-cursor
{
    background-color: #ccc;
    color: #333;
}

.tt-dropdown-menu
{
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
}




/** ************************************** **/
/** EDITOR FIELD                           **/
/** ************************************** **/

.alpaca-controlfield-editor
{
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px #ccc solid;
}

.alpaca-controlfield-editor .control-field-editor-el
{
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0
}



/** ************************************** **/
/** DATEPICKER (jQueryUI)                  **/
/** ************************************** **/

#ui-datepicker-div
{
    display: none;
    background-color:white;
    z-index: 9999999 !important;
    width: 22em !important;
}

/* Fix for Chrome issue with Button text */
.ui-button .ui-button-text {
    white-space: nowrap;
}

.ui-datepicker
{
    z-index: 100;
}








/** ************************************** **/
/** FILE UPLOAD (jQueryUI)                 **/
/** ************************************** **/

.alpaca-fileupload-container
{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 5px;
}

.alpaca-fileupload-container .row
{
    margin-bottom: 10px;
}

.alpaca-fileupload-well
{
    /*border: 1px #ccc solid;*/
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
}

.alpaca-fileupload-container table
{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 5px;
}

.alpaca-fileupload-well p
{
    padding-top: 20px;
    color: #888;
}

.alpaca-fileupload-well table tbody.files tr td.name
{
    word-wrap: break-word;
}







/** ************************************** **/
/** ACE EDITOR                             **/
/** ************************************** **/

.ace_editor
{
    border: 1px solid rgb(204, 204, 204);
}



/** ************************************** **/
/** CK EDITOR                             **/
/** ************************************** **/

.alpaca-field-ckeditor.alpaca-invalid > .cke
{
    border-color: #f04124;
}

.has-error .multiselect
{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


/** ************************************** **/
/** OPTIONTREE                             **/
/** ************************************** **/

.alpaca-field-optiontree {

}

.alpaca-field-optiontree .optiontree {

}

.alpaca-field-optiontree .optiontree .optiontree-selector {

}

.alpaca-field-optiontree.optiontree-horizontal {

}

.alpaca-field-optiontree.optiontree-horizontal .optiontree {
    display: inline-block;
}

.alpaca-field-optiontree.optiontree-horizontal .optiontree .optiontree-selector {
    display: inline-block;
    padding-left: 4px;
}

.alpaca-field-optiontree.optiontree-horizontal input {
    display: inline-block;
    width: auto;
}

.alpaca-field-optiontree.optiontree-horizontal label {
    display: block;
}




.alpaca-field-tablerow label.control-label
{
    display: none;
}

.alpaca-field-table .actionbar
{
    white-space: nowrap;
    text-align: center;
}

.alpaca-field-table table tr td .alpaca-field
{
    width: 100%;
}

.alpaca-field-table table tr td .alpaca-field .form-control
{
    width: 100%;
}

.alpaca-field-table .form-group
{
    margin-bottom: 0px;
}

.alpaca-field-table .form-group.alpaca-field-checkbox
{
    text-align: center;
}

.alpaca-field-table .alpaca-control.checkbox
{
    /*
    margin: 0px;
    padding: 0px;
    */
    padding-top: 6px;
}

/*
.alpaca-field-table .alpaca-control.checkbox input[type='checkbox']
{
    margin-left: -16px;
    margin-top: -3px;
}
*/

.alpaca-field-table table tr td.actionbar .alpaca-array-actionbar
{
    padding-bottom: 0px;
}

.alpaca-field-table .actionbar .alpaca-array-actionbar.btn-group
{
    width: auto;
}
