<h1>LEASE AGREEMENT</h1>

THIS AGREEMENT is entered into in duplicate on {{alpaca("date", "date")}} by and between 
{{alpaca("person1.firstName")}} {{alpaca("person1.lastName")}} 
hereinafter referred to as the LESSOR and 
{{alpaca("person2.firstName")}} {{alpaca("person2.lastName")}} 
hereinafter referred to as the LESSEE.

<p>
THE LESSOR is presently the owner of a horse described as follows:
</p>

<table>
    <tr>
        <td>Name</td><td>{{alpaca("horse.name")}}</td>
    </tr>
    <tr>
        <td>Breed</td><td>{{alpaca("horse.breed")}}</td>
    </tr>
    <tr>
        <td>Registration Number</td><td>{{alpaca("horse.registrationNumber")}}</td>
    </tr>
    <tr>
        <td>Color</td><td>{{alpaca("horse.color")}}</td>
    </tr>
    <tr>
        <td>Date Foaled</td><td>{{alpaca("horse.dateFoaled")}}</td>
    </tr>
    <tr>
        <td>Sex</td><td>{{alpaca("horse.sex")}}</td>
    </tr>
</table>
<p>   
THE LESSOR desires to lease said horse to LESSEE for the purpose(s) of:
</p>
<p>
{{alpaca("purposes", "textarea")}}
</p>
<p>
and LESSEE desires to lease said horse from LESSOR for same stated purpose(s), all in
accordance with certain terms and conditions to be set forth hereinafter.
</p>
<p>
The PARTIES hereto, in consideration of the mutual covenants contained herein, do hereby
agree to the arrangement for leasing said horse as follows:
</p>

<h2>I. LEASE TERMS</h2>
<p>
LESSOR hereby leases to LESSEE said horse for a term of {{alpaca("dayCount")}} beginning 
{{alpaca("startDate")}} and to end on {{alpaca("endDate")}}.
</p>
<h2>II. DELIVERY</h2>
<p>
{{alpaca("delivery.arranger")}} is to arrange for transportation of said horse from LESSOR's
stabling facility located at {{alpaca("delivery.facility.location")}} within {{alpaca("delivery.days")}} days of
the commencement of the lease terms.
</p>
<p>
  {{alpaca("delivery.payer")}} will be responsible for the transportation cost of this delivery.
</p>